
$primary-color: #282c34;

$gradient-color: #A0A0A0; 

$menu-item-color: hsl(217, 71%, 45%); 

$color-item: hsl(220, 100%, 99%); 

$title-color: #535353; 

$mobile: 920px; 

$active-color: #00008B; 

$call-to-action: #dd2e3e; 


